<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.LoginMapper">
<!-- 修改密码 -->
<update id="updpasss">
update login set username = #{u},password = #{p} where id=#{id}
</update>
<!-- 注册 -->
<insert id="addlo">
<if test="userType==1">
	INSERT into login(username,password,usertype,stuid)
	 VALUES(#{userName},#{password},#{userType},#{stid})
</if>
<if test="userType==2">
	INSERT into login(username,password,usertype,thid)
	 VALUES(#{userName},#{password},#{userType},#{stid})
</if>
	
</insert>
<!-- 判断学号存在否 -->
<select id="selid" resultType="int">
	<if test="type==1">
		select count(*) from userstu where id=#{id}
	</if>
	<if test="type==2">
		select count(*) from teacher where id=#{id}
	</if>
</select>
<!-- 判断账号存在否 -->
<select id="stuid" resultType="int">
	<if test="type==1">
	select count(*) from login where stuid=#{id}
	</if>
	<if test="type==2">
	select count(*) from login where thid=#{id}
	</if>
</select>
<!-- 登录 -->
	<select id="login" resultType="Login">
		<if test="userType==1">
		select l.*,u.phonenum,u.photo,u.sname,us.tname,u.email from login l
		INNER JOIN userstu u
		on l.stuid=u.id
		INNER JOIN usertype us
		on l.usertype=us.id
		where u.phonenum=#{phonenum}
		and l.`password`=#{password}
		</if>
		<if test="userType==2">
		select l.*,u.phonenum,u.photo,u.thname,us.tname us.emailfrom login l
		INNER JOIN teacher u
		on l.thid=u.id
		INNER JOIN usertype us
		on l.usertype=us.id
		where u.phonenum=#{phonenum}
		and l.`password`=#{password}
		</if>
		<if test="userType==0">
		select * from login where username=#{phonenum} 
			and `password`= #{password}
		</if>
	</select>
	<select id="login1" resultType="Login">
		<if test="userType==1">
		select l.*,u.phonenum,u.photo,u.sname,us.tname from login l
		INNER JOIN userstu u
		on l.stuid=u.id
		INNER JOIN usertype us
		on l.usertype=us.id
		where u.phonenum=#{phonenum}
		and l.`password`=#{password}
		</if>
		<if test="userType==2">
		select l.*,u.phonenum,u.photo,u.thname,us.tname from login l
		INNER JOIN teacher u
		on l.thid=u.id
		INNER JOIN usertype us
		on l.usertype=us.id
		where u.phonenum=#{phonenum}
		and l.`password`=#{password}
		</if>
		<if test="userType==0">
		select * from login where username=#{phonenum} 
			and `password`= #{password}
		</if>
	</select>
	<!-- 登录完成查询数据 -->
	<select id="stu" resultMap="map1">
		select u.*,c.cname,m.mname,CONCAT(d.ext_name,'-',di.ext_name,'-',dis.ext_name) as arean from userstu u
		INNER JOIN classgrade c
		on u.classid=c.id
		INNER JOIN major m
		on u.majorid=m.id
		INNER JOIN districts d
		on u.idp=d.id
		INNER JOIN districts di
		on u.idc=di.id
		INNER JOIN districts dis
		on u.idt=dis.id
		where u.id =#{id}
	</select>
	<resultMap type="Userstu" id="map1">
	 <!-- 前面数据库，后面实体类 -->
	<result column="cname" property="classs" />
	<result column="mname" property="major" />
	</resultMap>
</mapper>